header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.418);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

header > .MuiSvgIcon-root {
  margin: 10px 10px 10px 5px;
}
