.input-container {
  width: 65%;
  max-width: 600px;
  height: fit-content;
  border: 1px solid #5f6368;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 65%);
  padding: 1rem;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  width: 100% !important;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
input[type="text"]:focus-visible {
  outline: none;
}
textarea {
  width: 100% !important;
  height: 100px !important;

  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem !important;
  font-weight: 400;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  resize: none;
  /* margin-bottom: 5px; */
}
textarea:focus-visible {
  outline: none;
}
.input-action-container {
  width: calc(100% + 2rem);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: auto;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  align-items: center;
  color: #dadce0;
  /* background-color: tomato; */
}
.input-action-container > button {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #dadce0;
  cursor: pointer;
  margin: 5px 10px 7px auto;
  padding: 5px 15px;
  border-radius: 8px;
}
.input-action-container > button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
